.container {
  max-width: 1200px;
  /* margin: 0 auto 0 auto; */
  /* margin-right: auto;
  margin-left: auto; */
  margin: 0 auto;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 0 10px;
}

p {
  width: 50%;
  float: left;
}

.clearfix {
  clear: left;
}
